<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Create blog</title>
</head>
<body>
<h1>Create blog</h1>
<p>
  <a href="/blogs">Blog list</a>
</p>
<th:block th:if="${message}">
  <p style="color:green" th:text="${message}"></p>
</th:block>
<form th:action="@{/create-blog}" th:object="${blog}" method="post">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" th:field="*{name}"/></td>
    </tr>
    <tr>
      <td>Author:</td>
      <td><input type="text" th:field="*{person}"/></td>
    </tr>
    <tr>
      <td>Date:</td>
      <td><input type="date" th:field="*{postDate}"/></td>
    </tr>
    <tr>
      <td>Content:</td>
      <td>
        <textarea th:field="*{content}" rows="6" cols="30"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Create blog">
        <input type="reset" value="Cancel">
      </td>
    </tr>
  </table>
</form>
</body>
</html>